{
  "extends": ["eslint-config-umi", "eslint-config-alloy/typescript-react"],
  "parser": "typescript-eslint-parser",
  "rules": {
    "indent":[
      "error", 2
    ],
    "object-curly-spacing":["error", "never", { "objectsInObjects": true }]
  }
}
